*{
  margin: 0;
}
.body{
color: #434455 ;
font-family: "Roboto", sans-serif;
background-color:#FFFFFF ;
}

h1,h2,h3,h4,h5,h6,p,div,a{
  margin-top: 0;
  padding-top: 0;
}

.header{
  border-bottom: 1px solid #e7e9fc 
}

.cotainerr{
  width: 1440px;
  display: flex;
  width: 1158px; 
  margin: 0 auto;
  padding: 0 15px;
}
.header-nav{
  display: flex;
  align-items: center;
}

.header-nav ul{
  display: flex;
}

.webstudio-logo{
  font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;

/* line-height: 21px; */ 
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5 ;
margin-top: 24px;
margin-bottom: 24px;
margin-left: 156px;
margin-right: 76px;
flex-grow: 1;
}

.webstudio-logo-span {
    color: #2e2f42;
}

.nav{
  display: flex;
  align-items: center;
}

.header-nav-menu{
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 76px;
  padding-right: 332px;
  gap: 40px;
  margin-right: 332px;
  display: flex;
}

.nav-link{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42 ;
    padding: 24px 0;
}

.nav-link:hover{
     color: #404bbf;  
}
.nav-link:focus {
  color: #404bbf;      
}

.studio {
 font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

.address{
    font-style: normal
}

.address-list{
  gap: 40px;
  display: flex;
}

.contact-link {
  color: #434455;           
  font-style: normal;        
  line-height: 1.5;          
  letter-spacing: 0.02em;    
  text-decoration: none;     
}

.contact-link:hover{
    color: #404bbf; 
}
.contact-link:focus {
  color: #404bbf;           
}

.hero-banner{
    background-color: #2e2f42;
    width: 1440px;
    height: 600px;
    padding: 188px 0;
}

.hero-banner-title{
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 56px;

/* line-height: 60px; */ 
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
padding-top: 164px;
padding-left: 472px;
padding-right: 472px;
max-width: 496px;
width: 496px;
margin-bottom: 48px;
}

.button-order-service {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;            
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4D5AE5;      
  cursor: pointer;
  border: none;  
  border-radius: 4px;
 padding: 16px 32px;
 width: 169px;
 height: 56px;
 min-width: 169px;
 margin-left: 636px;   
 display: block;      
}


.button-order-service:hover,
.button-order-service:focus {
  background-color: #404BBF;
}

.secttwo{
  padding: 120px 0;
}

.secttwo-list-item {
  padding-top: 144px;
  padding-left: 156px;
  padding-right: 156px;
  padding-bottom: 120px;
  display: flex;
  gap: 24px;
}

.item-list{
  width: calc((100% - 72px) / 4);
}

.hthree-secttwo{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}



.p-secttwo {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}

.sect-three{
    background-color:#F4F4FD;
    padding: 120px 0;
}

.team-title{
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
padding-left: 639px;
padding-right: 639px;
padding-top: 120px;
margin-bottom: 72px;
}

.team-list{
  display: flex;
  gap: 24px;
}

.item-sectthree{
    background-color:#FFFFFF ;
    padding-top: 232px;
    padding-bottom: 32px;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.div-li-sectthree{
  padding: 32px 0;
}

.hthree-setcthree{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 120%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.p-sectthree{
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
padding-bottom: 152px;
}

.container{
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 156px;
  padding-right: 156px;
}

.portfolio{
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
padding-top: 120px;
margin-bottom: 72px;
padding-left: 611px;
padding-right: 611px;
}

.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.li-portfolio{
  width: calc((100% - 48px) / 3);
}

.div-sectfour{
  padding: 32px 16px;
  border: 1px solid #e7e9fc; 
  border-top: none;
}

.hthree-sectfour {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
padding-top: 32px;
margin-bottom: 8px;
padding-left: 16px;
}

.p-sectfour {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
padding-bottom: 32px;
padding-left: 16px;
}

.footer{
background-color: #2e2f42;
padding: 100px 0;
}

.footer-logo{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;

/* line-height: 24px; */ 
line-height: 1.17;
letter-spacing: 0.03em;
color: #4d5ae5;
text-transform: uppercase;
padding-top: 100px;
padding-left: 156px;
margin-bottom: 16px;
display: inline-block;
}

.webstudio-logo-spantwo{
    color:#f4f4fd ;
}

.footer-p {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #f4f4fd;
padding-left: 156px;
padding-bottom: 100px;
max-width: 264px;
}